extends template-index.pug

block head

block header
  header(class='header') 
    +img-svg('img', './../img/petfinder-logo.svg', 'Petfinder Logo', 'Petfinder')

block main 
  main(class='main')

block footer
  div(id='root')
  footer(class='footer') 
    +icons('github', 'https://github.com/ponomarevandrey', 'sm', 'black')